<div class="row  d-flex justify-content-between">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <form class="w-100 px-3" [formGroup]="contactForm" (ngSubmit)="onSubmit()" *ngIf="!loading">
            <h3 class="py-1">Registe seu {{isCredit ? 'credito' : 'debito'}}</h3>
            <div class="form-group pb-1">
              <label for="">Valor</label>
              <input
                type="number"
                formControlName="amount"
                class="form-control mb-1"
                placeholder="Valor"
              />
            </div>
            <div class="form-group pb-1">
              <label for="">Categoria</label>
              <select formControlName="category" class="form-control mb-1">
                <option value="" selected disabled>Selecionar</option>
                <option value="cartao_credito">Cartão de credito</option>
                <option value="outra">Outra</option>
                <option value="mercado">Mercado</option>
              </select>
            </div>
            <div class="form-group pb-1">
              <input
                type="date"
                formControlName="date"
                class="form-control mb-1"
                placeholder="Vencimento"
              />
            </div>
            <div class="form-group pb-1">
            <textarea
              class="form-control"
              formControlName="description"
              rows="6"
              placeholder="Descrição"
            >
            </textarea>
            </div>
            <button class="btn w-100 btn-primary cursor-pointer" [disabled]="this.contactForm.invalid">
              Salvar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
