<section id="simple-table">
  <div class="row mt-3">
    <div class="col-md-12 d-flex justify-content-end">
      <button type="button" class="btn btn-raised btn-round btn-secondary m-0 mb-2 -align-right"
              routerLink="/credits/form">Adicionar Gasto
      </button>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <h4 class="card-title">Gastos 2019</h4>
            <table class="table">
              <thead>
              <tr>
                <th>Periodo</th>
                <th>Maior valor</th>
                <th>Menor valor</th>
                <th>Total</th>
                <th>Ações</th>
              </tr>
              </thead>
              <tbody *ngIf="spendingToRender">
              <tr *ngFor="let spending of spendingToRender" [routerLink]="'/credits/' +
                    spending.codIdentifier +'/' +'/details'">
                <td>{{returnDate(spending.codIdentifier)}}</td>
                <td>{{highestPayment(spending) | currency: 'BRL '}}</td>
                <td>{{lowestPayment(spending) | currency: 'BRL '}}</td>
                <td>{{totalPayment(spending.spending) | currency: 'BRL '}}</td>
                <td><i class="fa fa-eye cursor-pointer"></i></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
