<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Nome" autocomplete="username"
                         formControlName="fistName" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" autocomplete="email"
                         formControlName="email" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Senha" autocomplete="new-password"
                         formControlName="password1"
                         required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Confirme sua senha" autocomplete="new-password"
                         formControlName="password2"
                         required>
                </div>
                <button type="submit" class="btn btn-block btn-success" [disabled]="!formRegister.valid">Create
                  Account
                </button>
              </form>
            </div>
<!--            <div class="card-footer p-4">-->
<!--              <div class="row">-->
<!--                <div class="col-6">-->
<!--                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>-->
<!--                </div>-->
<!--                <div class="col-6">-->
<!--                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
