<div class="spending-details">
  <div class="row text-left">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="clearfix">
        <div class="float-left">
          <span class="percent">R$ {{total - valuePaid}} - R$ {{valuePaid}} ({{percentage}}%) =  R$ {{total}} (100%)</span>
        </div>
        <div class="float-right">
          <small class="text-muted">{{dataNow()}}</small>
        </div>
      </div>
      <div class="progress progress-xs my-2 mx-1">
        <div class="progress-bar bg-success" role="progressbar" [style.width.%]="percentage"
             [attr.aria-valuenow]="percentage" aria-valuemin="0"
             aria-valuemax="100">
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 mb-3" *ngFor="let spredding of spreddings">
      <div class="card h-100" [ngClass]="{'bg-danger' : spredding.status, 'bg-success': !spredding.status}">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body text-left">
                <h3>{{spredding.amount | currency: 'BRL '}}</h3>
                <div></div>
                <span>{{spredding.description}}</span>
                <div>{{spredding.debt ? 'Debito' : 'Credito'}}</div>
                <div class="cursor-pointer spending-status" *ngIf="spredding.status"
                     (click)="changeStatus(spredding)">
                  <p>ABERTO</p>
                </div>
                <div class="cursor-pointer" *ngIf="!spredding.status"
                     (click)="changeStatus(spredding)"><p>{{isCredit ? 'RECEBIDO' : 'PAGO'}}</p></div>
                <div>{{formatDate(spredding.date) }}</div>
                <div>{{formatCategory(spredding.category)}}</div>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-pie-chart font-large-2 float-right"></i>
              </div>
            </div>
            <p class="card-text cursor-pointer w-100 mt-3"><span (click)="delete(spredding._id)">Apagar</span>|
              <span [routerLink]="'/spending/form/' + spredding._id">Editar</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
